.transaction-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.transaction-main {
  background-color: #FFF;
  width: 70vw;
  padding: 10vh 10vw;
}

.transaction-title-text {
  text-align: center;
  border-bottom: 0.3vh solid #f5f5f5;
  font-weight: bold;
  font-size: 2.5vh;
}

/* 購入内容の表示 */
.buy-item-info {
  height: 22vh;
  border-bottom: 0.3vh solid #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-item-img {
  margin-right: 2.2vh;
  height: 20vh;
  width: 20vh;
}

.buy-item-right-content {
  display: flex;
  flex-direction: column;
}

.buy-item-text {
  font-size: 2.2vh;
}

.buy-item-price {
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 1.4vh;
}

.item-price-text {
  font-size: 1.8vh;
}

.item-price-sub-text {
  font-size: 1.5vh;
}

/* /購入内容の表示 */

/* 支払額の表示 */
.item-payment {
  height: 18vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3vh solid #f5f5f5;
  font-weight: bold;
}

.item-payment-title {
  font-size: 3vh;
}

.item-payment-price {
  font-size: 3vh;
}

/* /支払額の表示 */

/* カード情報の入力 */
.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 2vh;
  padding-bottom: 3vh;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
  margin-bottom: 8vh;
}

.available-card {
  display: flex;
  height: 4vh;
}

.card-logo {
  width: 3vw;
  margin: 0.5vh;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}

.input-expiration-date {
  width: 15vh;
  margin-top: 1vh;
  height: 5vh;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
  text-align: center;
}

/* /カード情報の入力 */

/* 配送先の入力 */
.shipping-address-form {
  margin-top: 3vh;
}

.form-any {
  color: #ffffff;
  background-color: #ccc;
  font-size: 1.6vh;
  padding: 0.4vh;
  border-radius: 1vh;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 6vh;
}

.buy-black-btn {
  width: 100%;
  background: #2a2a2a;
  border: none;
  color: #fff;
  line-height: 6vh;
  font-size: 2vh;
  cursor: pointer;
}