.top-page-header {
  height: 15vh;
  display: flex;
  background-color:#2a2a2a;
  justify-content: space-between;
  padding: 2vh;
}

.logo-contents {
  margin: 3vh;
}
.lien-icon {
  color: #ffffff;
  font-size: 6vh;
}


/* .search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
} */

.nav {
  font-size: 18px;
}


li {
  list-style: none;
}

.lists-right-hidden {
  display: none;
  width: 30vw;
}

.genre-lists {
  width: 8vw;
  margin: 0 1.5vw;
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.genre-list {
  float: left;
  text-decoration: none;
  margin: 1vw 0 1vw 1vw;
  padding:0.5vh;
  font-weight: bold;
  font-size:1vw;
  line-height: 30px;
  border: solid 1px white;
  border-radius:20px;
  color: white;
}

.lists-right-signin {
  margin: 1vh 1.5vw 0 1.5vw;
  display: flex;
}

.lists-right {
  display: flex;
}

.user-nickname {
  width: 8vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 1.5vw;
}


.logout {
  width: 8vw;
  text-decoration: none;
  color:white;
  margin: 0 1.5vw;
  font-weight: bold;
}

.login {
  width: 8vw;
  text-decoration: none;
  color: white;
  margin: 0 1.5vw;
  font-weight: bold;
}

.sign-up {
  width: 8vw;
  text-decoration: none;
  color: white;
  margin: 0 1.5vw;
  font-weight: bold;
}

.create-room {
  width: 8vw;
  margin: 0 1.5vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.search-button {
  width: 2vw;
  border: 0;
  margin: 0 1.5vw;
  background-color: #2a2a2a;
}

.search-icon {
  width: 1.5vh;
}
