<div class="footer">
  <div class="footer-links">
    <%= link_to "TOP", "#", class: "footer-btn"%>
  </div>
  <div class="footer-link">
    <%= link_to "CONTACT", "#", class: "footer-btn" %>
  </div>
  <div class="footer-link">
    <%= link_to "NEWS", "#", class: "footer-btn"%>
  </div>
  <div class="footer-link">
    <%= link_to "ABOUT", "#", class: "footer-btn"%>
  </div>
</div>
<p class="copyright">©copyright LIEN.,LTD.ALL rights reserved. </p>