<footer class='second-fotter'>
  <%= link_to "LIEN.", root_path, class:"lien-icon" %>
  <div class='second-fotter-text-wrap'>
    <span class='second-fotter-text'>プライバシーポリシー</span>
    <span class='second-fotter-text'>LIEN利用規約</span>
    <span class='second-fotter-text'>特定商取引に関する表記</span>
  </div>
</footer>