.user-liked-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redirect-to {
  margin: 5vh 0 0 5vh;
}

.redirect-to-mypage {
  color: #2a2a2a;
  padding: 2vh 2vh;
  background-color: #f5f5f5;
  border: 0.2vh solid #2a2a2a;
  border-radius: 4vh;
}


.title-like {
  margin: 15vh 0;
}

.title-like h1 {
  font-size: 4vh;
}

.like-room-contents {
  width: 70vw;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 7vh;
}