.background-wrapper {
  background-image: url("/images/dot.png");
  background-size: auto;
}

.my-page-wrap {
  display: flex;
  justify-content: space-around;
}
.user-side-bar {
  margin-left: 5vh;
  margin-top: 10vh;
}
.left-lists li{
  padding: 2vh 2vh;
  background-color: #f5f5f5;
  margin: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vh;
  border: 0.2vh solid #2a2a2a;
  color: #2a2a2a;
  background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #2a2a2a 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

.left-lists li:hover {
  background-position: -100% 0;
  color: #fff;
}

.user-avatar {
  width: 10vh;
  height: 10vh;
  border-radius: 10vh;
}

.no-avatar-content{
  background-color: #2a2a2a;
  width: 10vh;
  height: 10vh;
  border-radius: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.no-avatar {
  width: 7vh;
  height: 7vh;
  border-radius: 10vh;
}

.user-info {
  margin-top: 10vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-contents {
  width: 50vw;
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4vh;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-name-content {
  margin-top: 1vh;
}

.right-under-contents {
  width: 50vw;
  padding: 5vh 0;
  background-color: #f5f5f5;
  border-radius: 4vh;
}

.user-have-rooom {
  margin-top: 10vh;
}